// LINK VARIANTS
// -----------------------------------------------------------------------------

@use "../../tokens" as *;

// Adaptive

.link-adaptive {
  color: currentColor;
}

// Inverse

.link-inverse {
  color: $color-white;
  text-decoration-color: $color-white;

  &:focus-visible {
    outline-color: $color-white;
  }
}
