// ANIMATION
// -----------------------------------------------------------------------------

// Transition

$transition-ease-out-100: 0.12s ease-out;
$transition-ease-out-200: 0.24s ease-out;

// Translate

$translate-distance-1-x: 1rem;
