// ANIMATION
// -----------------------------------------------------------------------------

// Transition

$transition-standard: 0.12s ease-out;
$transition-slow: 0.24s ease-out;

// Translate

$translate-distance-standard: 1rem;
