// ANIMATION
// -----------------------------------------------------------------------------

// Ease out

$ease-out-100: 0.12s ease-out;
$ease-out-200: 0.24s ease-out;

// Translate

$translate-1: 1rem;
