// COLOR
// -----------------------------------------------------------------------------

// Brand

$color-brand-50: hsl(208, 100%, 28%);
$color-brand-75: hsl(208, 100%, 32%);
$color-brand-100: hsl(208, 100%, 36%);
$color-brand-275: hsl(208, 76%, 56%);
$color-brand-725: hsl(208, 92%, 88%);
$color-brand-800: hsl(208, 92%, 92%);
$color-brand-900: hsl(208, 92%, 96%);

// Positive

$color-positive-50: hsl(138, 100%, 16%);
$color-positive-75: hsl(138, 100%, 20%);
$color-positive-100: hsl(138, 100%, 22%);
$color-positive-275: hsl(138, 56%, 42%);
$color-positive-725: hsl(138, 76%, 78%);
$color-positive-800: hsl(138, 76%, 86%);
$color-positive-900: hsl(138, 76%, 94%);

// Attentive

$color-attentive-50: hsl(44, 88%, 94%);
$color-attentive-100: hsl(44, 84%, 88%);
$color-attentive-150: hsl(44, 80%, 82%);
$color-attentive-500: hsl(44, 56%, 44%);
$color-attentive-650: hsl(44, 100%, 26%);
$color-attentive-700: hsl(44, 100%, 22%);
$color-attentive-750: hsl(44, 100%, 18%);

// Negative

$color-negative-50: hsl(8, 84%, 96%);
$color-negative-100: hsl(8, 80%, 92%);
$color-negative-150: hsl(8, 76%, 88%);
$color-negative-500: hsl(8, 72%, 58%);
$color-negative-650: hsl(8, 100%, 36%);
$color-negative-700: hsl(8, 100%, 32%);
$color-negative-750: hsl(8, 100%, 28%);

// Neutral

$color-neutral-50: hsl(0, 0%, 96%);
$color-neutral-100: hsl(0, 0%, 92%);
$color-neutral-150: hsl(0, 0%, 88%);
$color-neutral-500: hsl(0, 0%, 48%);
$color-neutral-650: hsl(0, 0%, 24%);
$color-neutral-700: hsl(0, 0%, 20%);
$color-neutral-750: hsl(0, 0%, 16%);

// White

$color-white: hsl(0, 0%, 100%);
$color-white-transparent-100: hsl(0, 0%, 100%, 0.92);
$color-white-transparent-150: hsl(0, 0%, 100%, 0.84);
$color-white-transparent-850: hsl(0, 0%, 100%, 0.16);
$color-white-transparent-900: hsl(0, 0%, 100%, 0.08);

// Black

$color-white-transparent-700: hsl(0, 0%, 0%, 0.72);
