// COLOR
// -----------------------------------------------------------------------------

// Brand

$color-brand-regular: hsl(212, 84%, 40%);
$color-brand-light-a: hsl(212, 84%, 96%);
$color-brand-light-b: hsl(212, 84%, 92%);
$color-brand-light-c: hsl(212, 84%, 88%);
$color-brand-medium: hsl(212, 80%, 58%);
$color-brand-dark-a: hsl(212, 84%, 36%);
$color-brand-dark-b: hsl(212, 84%, 32%);

// Positive

$color-positive-regular: hsl(120, 80%, 24%);
$color-positive-light-a: hsl(120, 80%, 94%);
$color-positive-light-b: hsl(120, 80%, 90%);
$color-positive-light-c: hsl(120, 80%, 86%);
$color-positive-medium: hsl(120, 50%, 42%);
$color-positive-dark-a: hsl(120, 80%, 20%);
$color-positive-dark-b: hsl(120, 80%, 16%);

// Negative

$color-negative-regular: hsl(8, 88%, 38%);
$color-negative-light-a: hsl(8, 88%, 96%);
$color-negative-light-b: hsl(8, 88%, 92%);
$color-negative-light-c: hsl(8, 88%, 88%);
$color-negative-medium: hsl(8, 84%, 58%);
$color-negative-dark-a: hsl(8, 88%, 34%);
$color-negative-dark-b: hsl(8, 88%, 30%);

// Focal

$color-focal-regular: hsl(208, 92%, 48%);

// Neutral

$color-neutral-regular: hsl(0, 0%, 24%);
$color-neutral-light-a: hsl(0, 0%, 96%);
$color-neutral-light-b: hsl(0, 0%, 92%);
$color-neutral-light-c: hsl(0, 0%, 88%);
$color-neutral-medium: hsl(0, 0%, 58%);
$color-neutral-dark-a: hsl(0, 0%, 20%);
$color-neutral-dark-b: hsl(0, 0%, 16%);

// White

$color-white-regular: hsl(0, 0%, 100%);
