// COLOR
// -----------------------------------------------------------------------------

// Brand

$color-brand-regular: hsl(208, 100%, 36%);
$color-brand-light-a: hsl(208, 92%, 96%);
$color-brand-light-b: hsl(208, 92%, 92%);
$color-brand-light-c: hsl(208, 92%, 88%);
$color-brand-medium: hsl(208, 76%, 56%);
$color-brand-dark-a: hsl(208, 100%, 32%);
$color-brand-dark-b: hsl(208, 100%, 28%);

// Positive

$color-positive-regular: hsl(132, 100%, 24%);
$color-positive-light-a: hsl(132, 88%, 94%);
$color-positive-light-b: hsl(132, 88%, 90%);
$color-positive-light-c: hsl(132, 88%, 86%);
$color-positive-medium: hsl(132, 64%, 44%);
$color-positive-dark-a: hsl(132, 100%, 20%);
$color-positive-dark-b: hsl(132, 100%, 16%);

// Attentive

$color-attentive-regular: hsl(42, 100%, 28%);
$color-attentive-light-a: hsl(42, 88%, 94%);
$color-attentive-light-b: hsl(42, 88%, 90%);
$color-attentive-light-c: hsl(42, 88%, 86%);
$color-attentive-medium: hsl(42, 64%, 48%);
$color-attentive-dark-a: hsl(42, 100%, 24%);
$color-attentive-dark-b: hsl(42, 100%, 20%);

// Negative

$color-negative-regular: hsl(10, 100%, 36%);
$color-negative-light-a: hsl(10, 88%, 96%);
$color-negative-light-b: hsl(10, 88%, 92%);
$color-negative-light-c: hsl(10, 88%, 88%);
$color-negative-medium: hsl(10, 64%, 56%);
$color-negative-dark-a: hsl(10, 100%, 32%);
$color-negative-dark-b: hsl(10, 100%, 28%);

// Focal

$color-focal-regular: hsl(208, 92%, 48%);

// Neutral

$color-neutral-regular: hsl(0, 0%, 24%);
$color-neutral-light-a: hsl(0, 0%, 96%);
$color-neutral-light-b: hsl(0, 0%, 92%);
$color-neutral-light-c: hsl(0, 0%, 88%);
$color-neutral-medium: hsl(0, 0%, 58%);
$color-neutral-dark-a: hsl(0, 0%, 20%);
$color-neutral-dark-b: hsl(0, 0%, 16%);

// White

$color-white-regular: hsl(0, 0%, 100%);

// Black

$color-black-transparent: hsl(0, 0%, 0%, 0.72);
