// DECORATION
// -----------------------------------------------------------------------------

// Opacity

$opacity-500: 0.48;

// Border width

$border-width-1-x: 1px;
$border-width-4-x: 4px;
$border-width-2-x: 2px;

// Border radius

$border-radius-1-x: 1px;
$border-radius-4-x: 4px;
$border-radius-xxx: 8000px;
