// DECORATION
// -----------------------------------------------------------------------------

// Opacity

$opacity-500: 0.48;

// Border width

$border-width-1: 1px;
$border-width-2: 2px;
$border-width-4: 4px;

// Border radius

$border-radius-1: 1px;
$border-radius-4: 4px;
$border-radius-f: 8000px;
