// LAYOUT
// -----------------------------------------------------------------------------

// Container

$container-max-width: 1240px;

// Grid

$column-count-regular: (
  phone: 2,
  tablet: (
    2,
    3,
  ),
  laptop: (
    2,
    3,
    4,
    6,
  ),
);

$gap-regular: (
  phone: 1.25rem,
  laptop: 2.5rem,
);

// Z-index

$z-index-top: 100;
$z-index-bottom: -100;
