// LAYOUT
// -----------------------------------------------------------------------------

// Container

$container-max-width: 1240px;

// Grid

$column-count-regular: 2;
$column-count-tablet: 6;
$column-count-laptop: 12;

$gap-regular: 1.25rem;
$gap-laptop: 2.5rem;

// Z-index

$z-index-top: 100;
$z-index-bottom: -100;
