// STRUCTURE
// -----------------------------------------------------------------------------

// Container

$container-max-width-standard: 1240px;

// Grid

$grid-columns-standard: (
  "small": 2,
  "medium": (
    2,
    3,
  ),
  "large": (
    2,
    3,
    4,
    6,
  ),
);

$grid-gaps-standard: (
  "small": 1.25rem,
  "large": 2.5rem,
);

// Z-index

$z-index-top: 100;
$z-index-bottom: -100;
