// STRUCTURE
// -----------------------------------------------------------------------------

// Container

$container-max-width: 1240px;

// Grid

$grid-columns: (
  "small": 2,
  "medium": (
    2,
    3,
  ),
  "large": (
    2,
    3,
    4,
    6,
  ),
);

$grid-gaps: (
  "small": 1.25rem,
  "large": 2.5rem,
);

// Z-index

$z-index-100: 100;
$z-index-n-100: -100;
