// ACCORDION
// -----------------------------------------------------------------------------

@use "../settings" as *;
@use "../helpers/focus-visible" as *;

.accordion {
  &-segment {
    border-top: $border-width-regular solid $color-neutral-light-c;

    &:last-of-type {
      border-bottom: $border-width-regular solid $color-neutral-light-c;
    }
  }

  &-heading {
    margin-bottom: 0;
  }

  &-slat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: $space-small-a 0;
    border: 0;
    margin-top: -$border-width-regular;
    font-size: $font-size-large-e;
    line-height: $line-height-small-a;
    color: $color-neutral-regular;
    background-color: transparent;
    transition: color $transition-default, outline $transition-default;

    @at-root .accordion-segment:last-of-type &:not(.is-activated) {
      margin-bottom: -$border-width-regular;
    }

    &:hover {
      color: $color-brand-regular;
    }

    &:focus-visible {
      @include focus-visible(default);
    }

    &.is-activated {
      color: $color-brand-regular;
    }
  }

  &-icon {
    width: 1rem;
    height: 1rem;
    fill: currentColor;
    transition: transform $transition-default;

    @at-root .accordion-slat.is-activated & {
      transform: rotate(180deg);
    }
  }

  &-panel {
    display: none;

    &.is-shown {
      display: block;
    }

    &.is-toggling {
      overflow: hidden;
      transition: height $transition-default;
    }
  }

  &-panel-inner {
    padding-top: $space-small-e;
    padding-bottom: $space-regular;

    @at-root .accordion-segment:last-of-type & {
      padding-bottom: calc(#{$space-regular} - #{$border-width-regular});
    }

    > :last-child {
      margin-bottom: 0;
    }
  }
}
