// ACCORDION
// -----------------------------------------------------------------------------

@use "../settings" as *;
@use "../helpers/focus-visible" as *;

.accordion {
  &-segment {
    border-top: $border-width-1 solid $color-neutral-725;

    &:last-child {
      border-bottom: $border-width-1 solid $color-neutral-725;
    }
  }

  &-slat {
    display: flex;
    align-items: center;
    width: 100%;
    padding: $space-0-75 0;
    border: 0;
    margin-top: -$border-width-1;
    font-size: $font-size-1-125;
    line-height: $line-height-1-333;
    color: $color-neutral-50;
    background-color: transparent;
    transition: color $transition-ease-out-100, outline $transition-ease-out-100;

    @at-root .accordion-segment:last-child & {
      margin-bottom: -$border-width-1;
    }

    &:focus-visible {
      @include focus-visible(rounded-small);
    }

    &:hover {
      color: $color-brand-100;
    }
  }

  &-icon-toggle {
    width: 1rem;
    height: 1rem;
    margin-left: auto;
    fill: currentColor;
    transition: transform $transition-ease-out-100;

    @at-root .accordion-slat.is-activated & {
      transform: rotate(180deg);
    }
  }

  &-panel {
    display: none;
    transition: height $transition-ease-out-100;

    &.is-phasing,
    &.is-shown {
      display: block;
    }
  }

  &-panel-inner {
    padding-top: $space-0-25;
    padding-bottom: $space-1;

    @at-root .accordion-segment:last-child & {
      padding-bottom: calc(#{$space-1} - #{$border-width-1});
      margin-top: $border-width-1;
    }
  }
}
