// ADVISORY
// -----------------------------------------------------------------------------

@use "../settings" as *;
@use "../helpers/focus-visible" as *;
@use "../helpers/set-breakpoint" as *;

.advisory {
  padding-top: $space-small-b;
  padding-bottom: $space-small-b;
  color: $color-white;
  background-color: $color-brand-dark-a;

  &-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: $space-standard;

    @include set-breakpoint(medium) {
      flex-direction: row;
    }
  }

  &-icon-lead {
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
    fill: currentColor;

    @include set-breakpoint(medium) {
      align-self: center;
    }
  }

  &-message {
    align-self: center;
  }

  .advisory-button {
    color: $color-brand-dark-a;
    background-color: $color-white;

    &:hover {
      background-color: $color-white-transparent-a;
    }

    &:focus-visible {
      outline-color: $color-focal-light;
    }

    &:active {
      background-color: $color-white-transparent-b;
    }
  }

  .advisory-link {
    &:focus-visible {
      outline-color: $color-focal-light;
    }
  }
}

// Positive

.advisory-positive {
  background-color: $color-positive-dark-a;

  .advisory-button {
    color: $color-positive-dark-a;
  }
}

// Attentive

.advisory-attentive {
  background-color: $color-attentive-dark-a;

  .advisory-button {
    color: $color-attentive-dark-a;
  }
}

// Negative

.advisory-negative {
  background-color: $color-negative-dark-a;

  .advisory-button {
    color: $color-negative-dark-a;
  }
}

// Neutral

.advisory-neutral {
  background-color: $color-neutral-dark-a;

  .advisory-button {
    color: $color-neutral-dark-a;
  }
}
