// ADVISORY
// -----------------------------------------------------------------------------

@use "../settings" as *;
@use "../helpers/focus-visible" as *;
@use "../helpers/set-breakpoint" as *;

.advisory {
  padding-top: $space-large-e;
  padding-bottom: $space-large-e;
  color: $color-white;
  background-color: $color-brand-dark-a;

  @include set-breakpoint(medium) {
    padding-top: $space-small-b;
    padding-bottom: $space-small-b;
  }

  &-inner {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: $space-standard;

    @include set-breakpoint(medium) {
      flex-direction: row;
    }
  }

  &-icon-lead {
    width: 1.5rem;
    height: 1.5rem;
    fill: currentColor;

    @include set-breakpoint(medium) {
      margin-top: $space-small-b;
    }
  }

  &-message {
    align-self: center;
  }
}

// Positive

.advisory-positive {
  background-color: $color-positive-dark-a;

  .advisory-button {
    color: $color-positive-dark-a;
  }
}

// Attentive

.advisory-attentive {
  background-color: $color-attentive-dark-a;
}

// Negative

.advisory-negative {
  background-color: $color-negative-dark-a;
}

// Neutral

.advisory-neutral {
  background-color: $color-neutral-dark-a;
}
