// ADVISORY
// -----------------------------------------------------------------------------

@use "../settings" as *;
@use "../helpers/focus-visible" as *;
@use "../helpers/set-breakpoint" as *;

.advisory {
  color: $color-white;
  background-color: $color-brand-650;

  &-inner {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: $space-small-a;
    padding-top: $space-standard;
    padding-bottom: $space-standard;

    @include set-breakpoint(medium) {
      flex-direction: row;
      gap: $space-standard;
      padding-top: $space-small-b;
      padding-bottom: $space-small-b;
    }
  }

  &-icon-lead {
    flex-shrink: 0;
    width: 1.5rem;
    height: 1.5rem;
    fill: currentColor;

    @include set-breakpoint(medium) {
      margin-top: $space-small-d;
    }
  }

  &-message {
    @include set-breakpoint(medium) {
      margin-top: $space-small-d;
    }
  }
}

// Positive

.advisory-positive {
  background-color: $color-positive-650;
}

// Attentive

.advisory-attentive {
  background-color: $color-attentive-650;
}

// Negative

.advisory-negative {
  background-color: $color-negative-650;
}

// Neutral

.advisory-neutral {
  background-color: $color-neutral-650;
}
