// BADGE
// -----------------------------------------------------------------------------

@use "../settings" as *;

.badge {
  display: inline-flex;
  padding: $space-0-375 $space-0-625;
  border-radius: $border-radius-m;
  vertical-align: top;
  font-size: $font-size-0-75;
  line-height: 1;
  font-weight: $font-weight-500;
  color: $color-brand-100;
  text-transform: uppercase;
  background-color: $color-brand-800;
}

// Positive

.badge-positive {
  color: $color-positive-100;
  background-color: $color-positive-800;
}

// Attentive

.badge-attentive {
  color: $color-attentive-100;
  background-color: $color-attentive-800;
}

// Negative

.badge-negative {
  color: $color-negative-100;
  background-color: $color-negative-725;
}

// Neutral

.badge-neutral {
  color: $color-neutral-650;
  background-color: $color-neutral-100;
}
