// BANNER
// -----------------------------------------------------------------------------

@use "../settings" as *;
@use "../helpers/animate-transit" as *;
@use "../helpers/focus-visible" as *;
@use "../helpers/set-breakpoint" as *;

.banner {
  padding: $space-regular 0 calc(#{$space-regular} - #{$border-width-regular});
  border-bottom: $border-width-regular solid $color-brand-light-c;
  color: $color-brand-regular;
  background-color: $color-brand-light-a;

  &.is-transiting-out {
    animation: banner-transit-out $transition-default;
  }

  &-inside {
    display: flex;
    align-items: flex-start;
    gap: $space-regular;
    max-width: $container-max-width;
    padding-right: $space-large-d;
    padding-left: $space-large-d;
    margin-right: auto;
    margin-left: auto;

    @include set-breakpoint(tablet) {
      padding-right: $space-large-b;
      padding-left: $space-large-b;
    }
  }

  &-message {
    flex: 1;
    margin-bottom: 0;
  }

  [class*="button-dismiss"] {
    margin-top: -$space-small-e;
    margin-bottom: -$space-small-e;
  }
}

// Positive

.banner-positive {
  border-bottom-color: $color-positive-light-c;
  color: $color-positive-regular;
  background-color: $color-positive-light-a;
}

// Negative

.banner-negative {
  border-bottom-color: $color-negative-light-c;
  color: $color-negative-regular;
  background-color: $color-negative-light-a;
}

// Neutral

.banner-neutral {
  border-bottom-color: $color-neutral-light-c;
  color: $color-neutral-regular;
  background-color: $color-neutral-light-a;
}

// Keyframes

@include animate-transit(banner, "fade", "out");
