// BANNER
// -----------------------------------------------------------------------------

@use "../settings" as *;
@use "../helpers/define-container" as *;
@use "../helpers/focus-visible" as *;
@use "../helpers/set-breakpoint" as *;

.banner {
  padding-top: $space-regular;
  padding-bottom: $space-regular;
  border-bottom: $border-width-thick solid $color-brand-light-c;
  color: $color-brand-regular;
  background-color: $color-brand-light-a;

  &-inside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include define-container();
    @include set-breakpoint(tablet) {
      flex-direction: row;
    }
  }

  &-icon {
    flex-shrink: 0;
    margin-top: $space-small-e;
    margin-bottom: $space-small-e;
  }

  &-message {
    margin-top: $space-small-e;
    margin-bottom: $space-small-a;

    @include set-breakpoint(tablet) {
      margin-bottom: $space-small-e;

      &:not(:first-child) {
        margin-left: $space-regular;
      }

      &:not(:last-child) {
        margin-right: $space-regular;
      }
    }
  }

  .banner-button {
    @include set-breakpoint(tablet) {
      margin-top: -$space-small-d;
      margin-bottom: -$space-small-d;
    }
  }
}

// Positive

.banner-positive {
  border-color: $color-positive-light-c;
  color: $color-positive-regular;
  background-color: $color-positive-light-a;
}

// Attentive

.banner-attentive {
  border-color: $color-attentive-light-c;
  color: $color-attentive-regular;
  background-color: $color-attentive-light-a;
}

// Negative

.banner-negative {
  border-color: $color-negative-light-c;
  color: $color-negative-regular;
  background-color: $color-negative-light-a;
}

// Neutral

.banner-neutral {
  border-color: $color-neutral-light-c;
  color: $color-neutral-regular;
  background-color: $color-neutral-light-a;
}
