// BREADCRUMB
// -----------------------------------------------------------------------------

@use "../settings" as *;
@use "../helpers/focus-visible" as *;

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  gap: $space-small-d;
  padding-left: 0;

  &-item {
    display: flex;
    align-items: center;
  }

  &-link {
    color: $color-neutral-650;
    text-decoration: $border-width-standard underline currentColor;
    text-underline-offset: 0.25rem;
    transition: text-decoration $transition-ease-out-100, outline $transition-ease-out-100;

    &:focus-visible {
      @include focus-visible(rounded-small);
    }

    &:hover {
      text-decoration-thickness: $border-width-thick-b;
    }
  }

  &-icon-trace {
    width: 0.75rem;
    height: 0.75rem;
    margin-left: $space-small-d;
    fill: currentColor;
  }
}
