// BUTTON
// -----------------------------------------------------------------------------

@use "../settings" as *;
@use "../helpers/focus-visible" as *;

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: $space-small-b $space-regular;
  border: 0;
  border-radius: $border-radius-regular;
  vertical-align: middle;
  font-size: $font-size-regular;
  line-height: $line-height-regular;
  color: $color-white-regular;
  background-color: $color-brand-regular;
  user-select: none;
  transition: background-color $transition-default, outline $transition-default;

  &:hover,
  &.is-activated {
    background-color: $color-brand-dark-a;
  }

  &:focus-visible {
    @include focus-visible(default);
  }

  &:active {
    background-color: $color-brand-dark-b;
  }

  &:disabled {
    color: $color-neutral-medium;
    background-color: $color-neutral-light-b;
    pointer-events: none;
  }

  &-icon-left {
    margin-right: $space-small-c;
  }

  &-icon-right {
    margin-left: $space-small-c;
  }
}

// Lean common

[class*="-lean"] {
  padding: calc(#{$space-small-b} - #{$border-width-regular}) calc(#{$space-regular} - #{$border-width-regular});
  border-width: $border-width-regular;
  border-style: solid;
  background-color: transparent;

  &:disabled {
    border-color: $color-neutral-light-c;
    background-color: transparent;
  }
}

// Plain common

[class*="-plain"] {
  background-color: transparent;

  &:disabled {
    background-color: transparent;
  }
}

// Lean and plain

.button-lean {
  border-color: $color-brand-medium;
}

.button-lean,
.button-plain {
  color: $color-brand-regular;

  &.is-activated,
  &:hover {
    background-color: $color-brand-light-a;
  }

  &:active {
    background-color: $color-brand-light-b;
  }
}

// Iconic

.button-iconic {
  padding: $space-small-b;

  &[class*="-lean"] {
    padding: calc(#{$space-small-b} - #{$border-width-regular});
  }
}

// Positive

.button-positive {
  background-color: $color-positive-regular;

  &.is-activated,
  &:hover {
    background-color: $color-positive-dark-a;
  }

  &:active {
    background-color: $color-positive-dark-b;
  }
}

// Positive lean and plain

.button-positive-lean {
  border-color: $color-positive-medium;
}

.button-positive-lean,
.button-positive-plain {
  color: $color-positive-regular;

  &.is-activated,
  &:hover {
    background-color: $color-positive-light-a;
  }

  &:active {
    background-color: $color-positive-light-b;
  }
}

// Negative

.button-negative {
  background-color: $color-negative-regular;

  &.is-activated,
  &:hover {
    background-color: $color-negative-dark-a;
  }

  &:active {
    background-color: $color-negative-dark-b;
  }
}

// Negative lean and plain

.button-negative-lean {
  border-color: $color-negative-medium;
}

.button-negative-lean,
.button-negative-plain {
  color: $color-negative-regular;

  &.is-activated,
  &:hover {
    background-color: $color-negative-light-a;
  }

  &:active {
    background-color: $color-negative-light-b;
  }
}

// Neutral

.button-neutral {
  background-color: $color-neutral-regular;

  &.is-activated,
  &:hover {
    background-color: $color-neutral-dark-a;
  }

  &:active {
    background-color: $color-neutral-dark-b;
  }
}

// Neutral lean and plain

.button-neutral-lean {
  border-color: $color-neutral-medium;
}

.button-neutral-lean,
.button-neutral-plain {
  color: $color-neutral-regular;

  &.is-activated,
  &:hover {
    background-color: $color-neutral-light-a;
  }

  &:active {
    background-color: $color-neutral-light-b;
  }
}

// Dismiss common

[class*="button-dismiss"] {
  padding: $space-small-c;
  background-color: transparent;

  &:hover {
    color: $color-white-regular;
  }
}

// Dismiss

.button-dismiss {
  color: $color-brand-regular;

  &:hover {
    background-color: $color-brand-regular;
  }

  &:active {
    background-color: $color-brand-dark-a;
  }
}

// Dismiss positive

.button-dismiss-positive {
  color: $color-positive-regular;

  &:hover {
    background-color: $color-positive-regular;
  }

  &:active {
    background-color: $color-positive-dark-a;
  }
}

// Dismiss negative

.button-dismiss-negative {
  color: $color-negative-regular;

  &:hover {
    background-color: $color-negative-regular;
  }

  &:active {
    background-color: $color-negative-dark-a;
  }
}

// Dismiss neutral

.button-dismiss-neutral {
  color: $color-neutral-regular;

  &:hover {
    background-color: $color-neutral-regular;
  }

  &:active {
    background-color: $color-neutral-dark-a;
  }
}
