// BUTTON
// -----------------------------------------------------------------------------

@use "../settings" as *;
@use "../helpers/focus-visible" as *;

.button {
  display: inline-flex;
  justify-content: center;
  align-self: start;
  align-items: center;
  gap: $space-small-d;
  padding: $space-small-b $space-standard;
  border: 0;
  border-radius: $border-radius-4-x;
  vertical-align: middle;
  font-size: $font-size-standard;
  line-height: $line-height-standard;
  font-weight: $font-weight-bold-b;
  color: $color-white;
  background-color: $color-brand-650;
  user-select: none;
  transition: background-color $transition-ease-out-100, outline $transition-ease-out-100;

  &:focus-visible {
    @include focus-visible;
  }

  &:hover,
  &.is-activated {
    background-color: $color-brand-700;
  }

  &:active {
    background-color: $color-brand-750;
  }

  &:disabled {
    opacity: $opacity-500;
    pointer-events: none;
  }

  &-icon {
    width: 1.25rem;
    height: 1.25rem;
    fill: currentColor;
  }
}

// Lean and plain

.button-lean,
.button-plain {
  color: $color-brand-650;
  background-color: transparent;

  &.is-activated,
  &:hover {
    background-color: $color-brand-50;
  }

  &:active {
    background-color: $color-brand-100;
  }
}

.button-lean {
  padding: calc(#{$space-small-b} - #{$border-width-1-x}) calc(#{$space-standard} - #{$border-width-1-x});
  border: $border-width-1-x solid $color-brand-500;
}

// Iconic

.button-iconic {
  padding: $space-small-b;

  &.button-lean {
    padding: calc(#{$space-small-b} - #{$border-width-1-x});
  }

  .button-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}

// Small

.button-small {
  padding: $space-small-d $space-small-a;

  &.button-lean {
    padding: calc(#{$space-small-d} - #{$border-width-1-x}) calc(#{$space-small-a} - #{$border-width-1-x});
  }
}

// Positive

.button-positive {
  background-color: $color-positive-650;

  &.is-activated,
  &:hover {
    background-color: $color-positive-700;
  }

  &:active {
    background-color: $color-positive-750;
  }

  &.button-lean,
  &.button-plain {
    color: $color-positive-650;
    background-color: transparent;

    &.is-activated,
    &:hover {
      background-color: $color-positive-50;
    }

    &:active {
      background-color: $color-positive-100;
    }
  }

  &.button-lean {
    border-color: $color-positive-500;
  }
}

// Attentive

.button-attentive {
  background-color: $color-attentive-650;

  &.is-activated,
  &:hover {
    background-color: $color-attentive-700;
  }

  &:active {
    background-color: $color-attentive-750;
  }

  &.button-lean,
  &.button-plain {
    color: $color-attentive-650;
    background-color: transparent;

    &.is-activated,
    &:hover {
      background-color: $color-attentive-50;
    }

    &:active {
      background-color: $color-attentive-100;
    }
  }

  &.button-lean {
    border-color: $color-attentive-500;
  }
}

// Negative

.button-negative {
  background-color: $color-negative-650;

  &.is-activated,
  &:hover {
    background-color: $color-negative-700;
  }

  &:active {
    background-color: $color-negative-750;
  }

  &.button-lean,
  &.button-plain {
    color: $color-negative-650;
    background-color: transparent;

    &.is-activated,
    &:hover {
      background-color: $color-negative-50;
    }

    &:active {
      background-color: $color-negative-100;
    }
  }

  &.button-lean {
    border-color: $color-negative-500;
  }
}

// Neutral

.button-neutral {
  background-color: $color-neutral-650;

  &.is-activated,
  &:hover {
    background-color: $color-neutral-700;
  }

  &:active {
    background-color: $color-neutral-750;
  }

  &.button-lean,
  &.button-plain {
    color: $color-neutral-650;
    background-color: transparent;

    &.is-activated,
    &:hover {
      background-color: $color-neutral-50;
    }

    &:active {
      background-color: $color-neutral-100;
    }
  }

  &.button-lean {
    border-color: $color-neutral-500;
  }
}

// Inverse

.button-inverse {
  color: $color-brand-650;
  background-color: $color-white;

  &:focus-visible {
    outline-color: $color-white;
  }

  &:hover {
    background-color: $color-white-transparent-100;
  }

  &:active {
    background-color: $color-white-transparent-150;
  }

  &.button-positive {
    color: $color-positive-650;
  }

  &.button-attentive {
    color: $color-attentive-650;
  }

  &.button-negative {
    color: $color-negative-650;
  }

  &.button-neutral {
    color: $color-neutral-650;
  }

  &.button-lean,
  &.button-plain {
    color: $color-white;
    background-color: transparent;

    &.is-activated,
    &:hover {
      background-color: $color-white-transparent-900;
    }

    &:active {
      background-color: $color-white-transparent-850;
    }
  }

  &.button-lean {
    border-color: $color-white;
  }
}
