// DIALOG
// -----------------------------------------------------------------------------

@use "../settings" as *;
@use "../helpers/animate-transit" as *;
@use "../helpers/focus-visible" as *;

.dialog {
  display: none;
  overflow: auto;
  max-width: 36rem;
  padding: $space-large-d;
  border-radius: $border-radius-regular;
  margin: $space-large-d;
  color: $color-neutral-regular;
  background-color: $color-white-regular;

  &:focus-visible {
    outline: 0;
  }

  &.is-shown {
    display: block;
  }

  &.is-transiting-in {
    animation: dialog-transit-in $transition-slow;
  }

  &.is-transiting-out {
    animation: dialog-transit-out $transition-slow;
  }

  &-heading {
    margin-bottom: $space-regular;
    font-size: $font-size-large-c;
    line-height: $line-height-small-a;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

// Backdrop

.dialog-backdrop {
  position: fixed;
  inset: 0;
  z-index: $z-index-bottom;
  display: none;
  background-color: $color-black-transparent;

  &.is-shown {
    display: block;
  }

  &.is-transiting-in {
    animation: dialog-backdrop-transit-in $transition-slow;
  }

  &.is-transiting-out {
    animation: dialog-backdrop-transit-out $transition-slow;
  }
}

// Wrapper

.dialog-wrapper {
  position: fixed;
  inset: 0;
  z-index: $z-index-top;
  display: none;

  &.is-shown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

// Keyframes

@include animate-transit(dialog-backdrop, "fade");
@include animate-transit(dialog);
