// DIALOG
// -----------------------------------------------------------------------------

@use "../settings" as *;
@use "../helpers/animate-transit" as *;
@use "../helpers/focus-visible" as *;

.dialog {
  overflow: auto;
  max-width: 36rem;
  padding: $space-large-d;
  border-radius: $border-radius-regular;
  color: $color-neutral-regular;
  background-color: $color-white-regular;

  &:focus-visible {
    outline: 0;
  }

  &.is-transitioning-in {
    animation: dialog-in $transition-slow;
  }

  &.is-transitioning-out {
    animation: dialog-out $transition-slow;
  }

  &-heading {
    margin-bottom: $space-regular;
    font-size: $font-size-large-c;
    line-height: $line-height-small-a;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

// Backdrop

.dialog-backdrop {
  position: fixed;
  inset: 0;
  z-index: $z-index-top;
  display: none;
  padding: $space-large-e;
  background-color: hsla(0, 0%, 20%, 0.56);

  &.is-transitioning-in {
    animation: dialog-backdrop-in $transition-slow;
  }

  &.is-transitioning-out {
    animation: dialog-backdrop-out $transition-slow;
  }

  &.is-shown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 0%, 20%, 0.56);
  }
}

// Keyframes

@include animate-transit(dialog-backdrop, in);
@include animate-transit(dialog-backdrop, out);
@include animate-transit(dialog, in, 4rem);
@include animate-transit(dialog, out, 4rem);
