// DRAWER
// -----------------------------------------------------------------------------

@use "../settings" as *;
@use "../helpers/animate-transit" as *;
@use "../helpers/focus-visible" as *;

.drawer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
  overflow: auto;
  max-width: 36rem;
  padding: $space-large-d;
  margin-left: $space-large-a;
  color: $color-neutral-regular;
  background-color: $color-white-regular;

  &:focus-visible {
    outline: 0;
  }

  &.is-shown {
    display: block;
  }

  &.is-transiting-in {
    animation: drawer-in $transition-slow;
  }

  &.is-transiting-out {
    animation: drawer-out $transition-slow;
  }

  &-heading {
    margin-bottom: $space-regular;
    font-size: $font-size-large-c;
    line-height: $line-height-small-a;
  }

  p:last-child {
    margin-bottom: 0;
  }

  .drawer-button-dismiss {
    position: absolute;
    top: 1.625rem;
    right: 1.625rem;
    padding: calc(#{$space-small-d} - #{$border-width-regular});
    border: $border-width-regular solid transparent;
    border-radius: $border-radius-regular;
    color: $color-neutral-regular;
    background-color: transparent;
    transition: background-color $transition-default, outline $transition-default;

    &:hover {
      background-color: $color-neutral-light-b;
    }

    &:focus-visible {
      @include focus-visible(default);
    }

    &:active {
      background-color: $color-neutral-light-c;
    }
  }

  .drawer-icon-dismiss {
    display: block;
    width: 1rem;
    height: 1rem;
    fill: currentColor;
  }
}

// Backdrop

.drawer-backdrop {
  position: fixed;
  inset: 0;
  z-index: -1;
  display: none;
  background-color: hsla(0, 0%, 20%, 0.56);

  &.is-shown {
    display: block;
  }

  &.is-transiting-in {
    animation: drawer-backdrop-in $transition-slow;
  }

  &.is-transiting-out {
    animation: drawer-backdrop-out $transition-slow;
  }
}

// Wrapper

.drawer-wrapper {
  position: fixed;
  inset: 0;
  z-index: $z-index-top;
  display: none;
  padding: $space-large-e;

  &.is-shown {
    display: block;
  }
}

// Keyframes

@include animate-transit(drawer-backdrop, "fade");
@include animate-transit(drawer, "slide", ("in", "out"), "X", 100%);
