// GLOBAL BANNER
// -----------------------------------------------------------------------------

@use "../tokens" as *;
@use "../helpers/focus-visible" as *;
@use "../helpers/set-breakpoint" as *;

.global-banner {
  padding-top: $space-regular;
  padding-bottom: $space-regular;
  color: $color-white-regular;
  background-color: $color-brand-regular;

  &-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include set-breakpoint(tablet) {
      flex-direction: row;
    }
  }

  &-icon-lead {
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
    margin-top: $space-small-e;
    margin-bottom: $space-small-e;
    fill: currentColor;
  }

  &-message {
    margin-top: $space-small-e;
    margin-bottom: $space-small-a;

    @include set-breakpoint(tablet) {
      margin-bottom: $space-small-e;

      &:not(:first-child) {
        margin-left: $space-regular;
      }

      &:not(:last-child) {
        margin-right: $space-regular;
      }
    }
  }

  .global-banner-button {
    color: $color-brand-regular;
    background-color: $color-white-regular;

    &:hover {
      background-color: $color-white-transparent-a;
    }

    &:active {
      background-color: $color-white-transparent-b;
    }

    @include set-breakpoint(tablet) {
      margin-top: -$space-small-d;
      margin-bottom: -$space-small-d;
    }
  }
}

// Positive

.global-banner-positive {
  background-color: $color-positive-regular;

  .global-banner-button {
    color: $color-positive-regular;
  }
}

// Attentive

.global-banner-attentive {
  background-color: $color-attentive-regular;

  .global-banner-button {
    color: $color-attentive-regular;
  }
}

// Negative

.global-banner-negative {
  background-color: $color-negative-regular;

  .global-banner-button {
    color: $color-negative-regular;
  }
}

// Neutral

.global-banner-neutral {
  background-color: $color-neutral-regular;

  .global-banner-button {
    color: $color-neutral-regular;
  }
}
