// LINK
// -----------------------------------------------------------------------------

@use "../settings" as *;
@use "../helpers/focus-visible" as *;

.link {
  display: inline-flex;
  color: $color-brand-650;
  text-decoration: $border-width-standard underline currentColor;
  text-underline-offset: 0.25rem;
  transition: text-decoration $transition-ease-out-100, outline $transition-ease-out-100;

  &:focus-visible {
    @include focus-visible(rounded-small);
  }

  &:hover {
    text-decoration-thickness: $border-width-thick-b;
  }
}

// Adaptive

.link-adaptive {
  color: currentColor;
}

// Inverse

.link-inverse {
  color: $color-white;
  text-decoration-color: $color-white;

  &:focus-visible {
    outline-color: $color-white;
  }
}
