// LINK
// -----------------------------------------------------------------------------

@use "../settings" as *;
@use "../helpers/focus-visible" as *;

.link {
  display: inline-flex;
  color: $color-brand-dark-a;
  text-decoration: $border-width-standard underline $color-brand-medium;
  text-underline-offset: 0.25rem;
  transition: text-decoration $transition-standard, outline $transition-standard;

  &:hover {
    text-decoration-thickness: $border-width-thick-b;
    text-decoration-color: $color-brand-dark-a;
  }

  &:focus-visible {
    @include focus-visible(rounded);
  }
}

// Inverse

.link-inverse {
  color: $color-white;
  text-decoration-color: $color-white;

  &:hover {
    text-decoration-color: $color-white;
  }

  &:focus-visible {
    @include focus-visible(inverse);
  }
}
