// NAVIGATION
// -----------------------------------------------------------------------------

@use "../settings" as *;
@use "../helpers/focus-visible" as *;

.navigation {
  display: flex;
  flex-direction: column;
  gap: $space-small-e;
  max-width: 16.25rem;
  padding-left: 0;

  &-link {
    display: flex;
    padding-top: $space-small-e;
    padding-bottom: $space-small-e;
    font-size: $font-size-standard;
    line-height: $line-height-standard;
    color: $color-neutral-dark-a;
    transition: color $transition-ease-out-100, outline $transition-ease-out-100;

    &:focus-visible {
      @include focus-visible(rounded-small);
    }

    &:hover,
    &.is-activated {
      color: $color-brand-dark-a;
    }
  }
}
