// NOTICE
// -----------------------------------------------------------------------------

@use "../settings" as *;

.notice {
  padding: $space-1 $space-1-5;
  border-radius: $border-radius-4;
  color: $color-brand-100;
  background-color: $color-brand-900;

  &-heading {
    margin-bottom: $space-0-5;
    font-size: $font-size-1-125;
    line-height: $line-height-1-333;
  }
}

// Positive

.notice-positive {
  color: $color-positive-100;
  background-color: $color-positive-900;
}

// Attentive

.notice-attentive {
  color: $color-attentive-100;
  background-color: $color-attentive-900;
}

// Negative

.notice-negative {
  color: $color-negative-100;
  background-color: $color-negative-900;
}

// Neutral

.notice-neutral {
  color: $color-neutral-50;
  background-color: $color-neutral-900;
}
