// NOTICE
// -----------------------------------------------------------------------------

@use "../settings" as *;

.notice {
  padding: $space-standard $space-large-d;
  border-radius: $border-radius-4-x;
  color: $color-brand-650;
  background-color: $color-brand-50;

  &-heading {
    margin-bottom: $space-small-c;
    font-size: $font-size-large-e;
    line-height: $line-height-small-a;
  }
}

// Positive

.notice-positive {
  color: $color-positive-650;
  background-color: $color-positive-50;
}

// Attentive

.notice-attentive {
  color: $color-attentive-650;
  background-color: $color-attentive-50;
}

// Negative

.notice-negative {
  color: $color-negative-650;
  background-color: $color-negative-50;
}

// Neutral

.notice-neutral {
  color: $color-neutral-650;
  background-color: $color-neutral-50;
}
