// NOTIFICATION
// -----------------------------------------------------------------------------

@use "../settings" as *;
@use "../helpers/focus-visible" as *;

.notification {
  padding: $space-regular $space-large-d $space-regular calc(#{$space-large-d} - #{$border-width-thick-a});
  border-left: $border-width-thick-a solid $color-brand-light-c;
  color: $color-brand-regular;
  background-color: $color-brand-light-a;

  &.is-phasing-out {
    display: block;
    animation: fade-out-regular $transition-regular;
  }

  &-heading {
    margin-bottom: $space-small-c;
    font-size: $font-size-large-e;
    line-height: $line-height-small-a;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

// Positive

.notification-positive {
  border-color: $color-positive-light-c;
  color: $color-positive-regular;
  background-color: $color-positive-light-a;
}

// Negative

.notification-negative {
  border-color: $color-negative-light-c;
  color: $color-negative-regular;
  background-color: $color-negative-light-a;
}

// Neutral

.notification-neutral {
  border-color: $color-neutral-light-c;
  color: $color-neutral-regular;
  background-color: $color-neutral-light-a;
}
