// POPOVER
// -----------------------------------------------------------------------------

@use "../settings" as *;
@use "../helpers/animate-transit" as *;
@use "../helpers/focus-visible" as *;

.popover {
  position: absolute;
  z-index: $z-index-top;
  display: none;
  width: 36rem;
  padding: calc(#{$space-large-d} - #{$border-width-regular});
  border: $border-width-regular solid $color-neutral-light-c;
  border-radius: $border-radius-regular;
  margin-top: $space-small-e;
  margin-bottom: 0;
  background-color: $color-white-regular;

  &.is-transiting,
  &.is-shown {
    display: block;
  }
  @include animate-transit;
}
