// TABLE
// -----------------------------------------------------------------------------

@use "../settings" as *;

.table {
  width: 100%;

  &-caption {
    padding: $space-small-a $space-standard;
    text-align: left;
    font-weight: $font-weight-bold-a;
  }

  &-header,
  &-data {
    padding: $space-small-a $space-standard calc(#{$space-small-a} - #{$border-width-standard});
    border-bottom: $border-width-standard solid $color-neutral-light-c;
    vertical-align: top;
  }

  &-header {
    text-align: left;

    thead & {
      border-color: $color-neutral-medium;
    }

    tbody & {
      border-right: $border-width-standard solid $color-neutral-medium;
    }
  }
}

.table-wrapper {
  overflow-x: auto;
}
