// TABSET
// -----------------------------------------------------------------------------

@use "../settings" as *;
@use "../helpers/animate-phasing" as *;
@use "../helpers/focus-visible" as *;

.tabset {
  &-navigation {
    display: flex;
    padding-left: 0;
    border-bottom: $border-width-standard solid $color-neutral-150;
    margin-bottom: 0;
    list-style: none;
  }

  &-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $space-small-b $space-standard;
    border: 0;
    margin-bottom: -#{$border-width-standard};
    color: $color-neutral-650;
    background-color: transparent;
    transition: border-color $transition-ease-out-100, color $transition-ease-out-100, outline $transition-ease-out-100;

    &:focus-visible {
      @include focus-visible(rounded-small);
    }

    &:hover {
      color: $color-brand-650;
    }

    &.is-activated {
      color: $color-brand-650;
      padding-bottom: calc(#{$space-small-b} - #{$border-width-thick-b});
      border-bottom: $border-width-thick-b solid $color-brand-650;
    }
  }

  &-panel {
    display: none;
    padding-top: $space-standard;
    padding-bottom: $space-standard;

    &.is-phasing-in,
    &.is-shown {
      display: block;
    }

    &.is-phasing-in {
      animation: fade-in-standard $transition-ease-out-200;
    }
  }
}
