// TABSET
// -----------------------------------------------------------------------------

@use "../settings" as *;
@use "../helpers/animate-phasing" as *;
@use "../helpers/focus-visible" as *;

.tabset {
  &-navigation {
    display: flex;
    padding-left: 0;
    border-bottom: $border-width-standard solid $color-neutral-light-c;
    margin-bottom: 0;
    list-style: none;
  }

  &-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $space-small-b $space-standard;
    border: 0;
    margin-bottom: -#{$border-width-standard};
    color: $color-neutral-dark-a;
    background-color: transparent;
    transition: border-color $transition-standard, color $transition-standard, outline $transition-standard;

    &:focus-visible {
      @include focus-visible(rounded-small);
    }

    &:hover {
      color: $color-brand-dark-a;
    }

    &.is-activated {
      color: $color-brand-dark-a;
      padding-bottom: calc(#{$space-small-b} - #{$border-width-thick-b});
      border-bottom: $border-width-thick-b solid $color-brand-dark-a;
    }
  }

  &-panel {
    display: none;
    padding-top: $space-standard;
    padding-bottom: $space-standard;

    &.is-phasing-in,
    &.is-shown {
      display: block;
    }

    &.is-phasing-in {
      animation: fade-in-standard $transition-slow;
    }
  }
}
