// TEXTFIELD
// -----------------------------------------------------------------------------

@use "../settings" as *;
@use "../helpers/focus-visible" as *;

.textfield {
  display: block;
  width: 100%;
  padding: calc(#{$space-small-b} - #{$border-width-standard}) calc(#{$space-small-a} - #{$border-width-standard});
  border: $border-width-standard solid $color-neutral-medium;
  border-radius: $border-radius-standard;
  font-size: $font-size-standard;
  line-height: $line-height-standard;
  color: $color-neutral-dark-a;
  background-color: $color-white;
  transition: outline $transition-ease-out-100, border-color $transition-ease-out-100;

  &:focus-visible {
    @include focus-visible;
  }

  &:disabled {
    opacity: $opacity-medium;
  }

  &.is-invalid {
    border-color: $color-negative-medium;
  }
}

// Select

.textfield-select {
  &:not([size]):not([multiple]) {
    height: calc(#{$font-size-standard} * #{$line-height-standard} + 2 * #{$space-small-b});
  }
}

// Label

.textfield-label {
  cursor: pointer;

  &.is-disabled {
    opacity: $opacity-medium;
    cursor: default;
  }
}
