// CARD
// -----------------------------------------------------------------------------

@use "../../tokens" as *;
@use "../../helpers/style-focus" as *;

// Interactive

.card-interactive {
  transition: background-color $ease-out-100, outline $ease-out-100;

  &:focus-visible {
    @include style-focus;
  }

  &:hover {
    background-color: $color-neutral-900;
  }

  &:active {
    background-color: $color-neutral-800;
  }
}
