// CONTAINER
// -----------------------------------------------------------------------------

@use "../settings" as *;
@use "../helpers/set-breakpoint" as *;

.lay-container {
  max-width: $container-max-width;
  padding-right: $space-1-5;
  padding-left: $space-1-5;
  margin-right: auto;
  margin-left: auto;

  @include set-breakpoint(medium) {
    padding-right: $space-2-5;
    padding-left: $space-2-5;
  }
}
