// GRID
// -----------------------------------------------------------------------------

@use "sass:map";
@use "../settings" as *;
@use "../helpers/set-breakpoint" as *;

.grid {
  display: grid;
  gap: $phone-gap;

  @include set-breakpoint(laptop) {
    gap: $laptop-gap;
  }
}

.grid-#{$phone-column-count} {
  grid-template-columns: repeat($phone-column-count, 1fr);
}

@for $i from 1 through $phone-column-count {
  .grid-span-#{$i} {
    grid-column: span #{$i};
  }
}

@include set-breakpoint(tablet) {
  .tablet\:grid-#{$tablet-column-count} {
    grid-template-columns: repeat($tablet-column-count, 1fr);
  }
}

@include set-breakpoint(tablet) {
  @for $i from 1 through $tablet-column-count {
    .tablet\:grid-span-#{$i} {
      grid-column: span #{$i};
    }
  }
}

@include set-breakpoint(laptop) {
  .laptop\:grid-#{$laptop-column-count} {
    grid-template-columns: repeat($laptop-column-count, 1fr);
  }
}

@include set-breakpoint(laptop) {
  @for $i from 1 through $laptop-column-count {
    .laptop\:grid-span-#{$i} {
      grid-column: span #{$i};
    }
  }
}
