// GRID
// -----------------------------------------------------------------------------

@use "sass:list";
@use "sass:map";
@use "../settings" as *;
@use "../helpers/set-breakpoint" as *;

.grid {
  display: grid;
  gap: map.get($gap-regular, "default");

  @include set-breakpoint(laptop) {
    gap: map.get($gap-regular, "laptop");
  }
}

@each $breakpoint, $column-count-list in $column-count-regular {
  $prefix: if($breakpoint != "default", #{$breakpoint}\:, null);

  @include set-breakpoint($breakpoint) {
    @each $column-count in $column-count-list {
      .#{$prefix}grid-#{$column-count} {
        grid-template-columns: repeat($column-count, 1fr);
      }

      $count-start: 1;

      @if list.index($column-count-list, $column-count) > 1 {
        $index: list.index($column-count-list, $column-count) - 1;
        $count-start: list.nth($column-count-list, $index) + 1;
      }

      @for $i from $count-start through $column-count {
        .#{$prefix}grid-span-#{$i} {
          grid-column: span #{$i};
        }
      }
    }
  }
}
