// GRID
// -----------------------------------------------------------------------------

@use "sass:map";
@use "../settings" as *;
@use "../helpers/set-breakpoint" as *;

.grid {
  display: grid;
  gap: $gap-regular;

  @include set-breakpoint(laptop) {
    gap: $gap-laptop;
  }
}

.grid-#{$column-count-regular} {
  grid-template-columns: repeat($column-count-regular, 1fr);
}

@for $i from 1 through $column-count-regular {
  .grid-span-#{$i} {
    grid-column: span #{$i};
  }
}

@include set-breakpoint(tablet) {
  .tablet\:grid-#{$column-count-tablet} {
    grid-template-columns: repeat($column-count-tablet, 1fr);
  }
}

@include set-breakpoint(tablet) {
  @for $i from 1 through $column-count-tablet {
    .tablet\:grid-span-#{$i} {
      grid-column: span #{$i};
    }
  }
}

@include set-breakpoint(laptop) {
  .laptop\:grid-#{$column-count-laptop} {
    grid-template-columns: repeat($column-count-laptop, 1fr);
  }
}

@include set-breakpoint(laptop) {
  @for $i from 1 through $column-count-laptop {
    .laptop\:grid-span-#{$i} {
      grid-column: span #{$i};
    }
  }
}
