// ANIMATE SLIDE
// -----------------------------------------------------------------------------

@use "../settings" as *;

@keyframes slide-in-standard {
  from {
    opacity: 0;
    transform: translateY(-$translate-distance-standard);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-out-standard {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-$translate-distance-standard);
  }
}
