// ANIMATE FADE
// -----------------------------------------------------------------------------

@keyframes fade-in-standard {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out-standard {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
