// ANIMATE PHASING
// -----------------------------------------------------------------------------

@use "../settings" as *;

// Fade

@keyframes fade-in-regular {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out-regular {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in-regular,
.fade-out-regular {
  transition: opacity $ease-out-100;
}

.fade-in-regular-start,
.fade-out-regular-end {
  opacity: 0;
}

.fade-in-regular-end,
.fade-out-regular-start {
  opacity: 1;
}
