// ANIMATE TRANSITION
// -----------------------------------------------------------------------------

@use "../settings" as *;

// Fade

@mixin fade($variant, $timing) {
  .fade-#{$variant}-enter,
  .fade-#{$variant}-leave {
    transition: opacity $timing;
  }

  .fade-#{$variant}-enter-start,
  .fade-#{$variant}-leave-end {
    opacity: 0;
  }

  .fade-#{$variant}-enter-end,
  .fade-#{$variant}-leave-start {
    opacity: 1;
  }
}

@include fade("regular", $ease-out-200);

// Slide

@mixin slide($variant, $timing, $distance) {
  .slide-#{$variant}-enter,
  .slide-#{$variant}-leave {
    transition: opacity $timing, transform $timing;
  }

  .slide-#{$variant}-enter-start,
  .slide-#{$variant}-leave-end {
    opacity: 0;
    transform: translateY($distance);
  }

  .slide-#{$variant}-enter-end,
  .slide-#{$variant}-leave-start {
    opacity: 1;
    transform: translateY(0);
  }
}

@include slide("regular", $ease-out-100, -$translate-1);
