// ANIMATE TRANSIT
// -----------------------------------------------------------------------------

@use "../settings" as *;

// Fade

@mixin fade {
  opacity: 0;

  &.is-animating {
    opacity: 0;
    transition: opacity $transition-slow;
  }

  &.is-shown {
    opacity: 1;
  }
}

// Slide

@mixin slide {
  opacity: 0;

  &.is-animating {
    opacity: 0;
    transform: translateY(-1rem);
    transition: opacity $transition-regular, transform $transition-regular;
  }

  &.is-shown {
    opacity: 1;
    transform: translateY(0);
  }
}
