// FOCUS VISIBLE
// -----------------------------------------------------------------------------

@use "sass:list";
@use "../settings" as *;

@mixin focus-visible($radius: null) {
  $valid-radii: ("radius-4", "radius-1");

  @if $radius != null and list.index($valid-radii, $radius) == null {
    @error "Invalid visible focus shape. Check spelling or review helper definition.";
  }

  outline: 2px solid $color-brand-100;
  outline-offset: 2px;

  @if $radius == "radius-4" {
    border-radius: $border-radius-4;
  } @else if $radius == "radius-1" {
    border-radius: $border-radius-1;
  }
}
