// FOCUS VISIBLE
// -----------------------------------------------------------------------------

@use "../settings" as *;

@mixin focus-visible($border-radius: "implicit") {
  @if $border-radius == "regular" {
    border-radius: $border-radius-regular;
  } @else if $border-radius == "small" {
    border-radius: $border-radius-small;
  } @else if $border-radius != "implicit" {
    @error "Invalid border radius name. Check spelling or review border radius decoration settings.";
  }
  outline: 2px solid $color-focal-regular;
  outline-offset: 2px;
}
