// STYLE FOCUS
// -----------------------------------------------------------------------------

@use "sass:list";
@use "../tokens" as *;

@mixin style-focus($border-radius: null) {
  $valid-radii: (null, $border-radius-1, $border-radius-4);

  @if not list.index($valid-radii, $border-radius) {
    @error "Invalid focus border radius. Check spelling or review helper definition.";
  }

  @if $border-radius != null {
    border-radius: $border-radius;
  }
  outline: 2px solid $color-brand-100;
  outline-offset: 2px;
}
