// GLOBAL FOOTER
// -----------------------------------------------------------------------------

@use "../settings" as *;
@use "../helpers/focus-visible" as *;
@use "../helpers/set-breakpoint" as *;

.global-footer {
  padding-top: $space-3;
  padding-bottom: $space-3;

  &-list {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;

    &-item {
      padding-top: $space-0-25;
      padding-bottom: $space-0-25;
    }
  }

  &-list-horizontal {
    flex-direction: row;

    .global-footer-list-item {
      padding-top: 0;
      padding-bottom: 0;

      &:not(:last-of-type) {
        margin-right: $space-1;
      }
    }
  }

  &-link {
    display: inline-block;
    color: $color-neutral-050;
    transition: color $transition-ease-out-100, outline $transition-ease-out-100;

    &:focus-visible {
      @include focus-visible(radius-1);
    }

    &:hover {
      color: $color-brand-100;
    }
  }

  &-legal {
    display: flex;
    flex-direction: column;

    p {
      margin-bottom: 0;
    }

    @include set-breakpoint(md) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
