// GLOBAL HEADER
// -----------------------------------------------------------------------------

@use "../settings" as *;
@use "../helpers/focus-visible" as *;
@use "../helpers/set-breakpoint" as *;

.global-header {
  &-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include set-breakpoint(medium) {
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
    }
  }

  &-brand {
    padding-top: $space-0-375;
    padding-bottom: $space-0-375;
    margin-right: $space-2;
    font-size: $font-size-large-c;
    line-height: $line-height-small-a;
    font-weight: $font-weight-bold-a;
    color: $color-neutral-650;
    transition: color $transition-ease-out-100, outline $transition-ease-out-100;

    &:focus-visible {
      @include focus-visible(rounded-small);
    }

    &:hover {
      color: $color-brand-650;
    }
  }

  &-navigation {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;

    &-item {
      &:not(:last-child) {
        margin-right: $space-2;
      }
    }

    &-link {
      display: inline-block;
      padding-top: $space-0-625;
      padding-bottom: $space-0-625;
      color: $color-neutral-650;
      transition: color $transition-ease-out-100, outline $transition-ease-out-100;

      &:focus-visible {
        @include focus-visible(rounded-small);
      }

      &:hover {
        color: $color-brand-650;
      }

      &.is-activated {
        padding-bottom: calc(#{$space-0-625} - #{$border-width-2});
        border-bottom: $border-width-2 solid $color-brand-650;
        color: $color-brand-650;
      }
    }
  }
}
