// COLOR
// -----------------------------------------------------------------------------

// Brand

$color-brand-050: hsl(208, 100%, 28%);
$color-brand-075: hsl(208, 100%, 32%);
$color-brand-100: hsl(208, 100%, 36%);
$color-brand-250: hsl(208, 76%, 54%);
$color-brand-800: hsl(208, 92%, 92%);
$color-brand-900: hsl(208, 92%, 96%);

// Positive

$color-positive-050: hsl(138, 100%, 16%);
$color-positive-075: hsl(138, 100%, 20%);
$color-positive-100: hsl(138, 100%, 22%);
$color-positive-250: hsl(138, 56%, 40%);
$color-positive-800: hsl(138, 76%, 86%);
$color-positive-900: hsl(138, 76%, 94%);

// Attentive

$color-attentive-050: hsl(44, 100%, 18%);
$color-attentive-075: hsl(44, 100%, 22%);
$color-attentive-100: hsl(44, 100%, 24%);
$color-attentive-250: hsl(44, 56%, 42%);
$color-attentive-800: hsl(44, 80%, 86%);
$color-attentive-900: hsl(44, 80%, 94%);

// Negative

$color-negative-050: hsl(12, 100%, 28%);
$color-negative-075: hsl(12, 100%, 32%);
$color-negative-100: hsl(12, 100%, 36%);
$color-negative-250: hsl(12, 56%, 58%);
$color-negative-800: hsl(12, 52%, 92%);
$color-negative-900: hsl(12, 52%, 96%);

// Neutral

$color-neutral-000: hsl(240, 8%, 16%);
$color-neutral-025: hsl(240, 8%, 22%);
$color-neutral-050: hsl(240, 8%, 28%);
$color-neutral-250: hsl(240, 6%, 56%);
$color-neutral-700: hsl(240, 4%, 86%);
$color-neutral-800: hsl(240, 4%, 92%);
$color-neutral-900: hsl(240, 4%, 96%);

// White

$color-white: hsl(0, 0%, 100%);
$color-white-transparent-075: hsl(0, 0%, 100%, 0.08);
$color-white-transparent-150: hsl(0, 0%, 100%, 0.16);
$color-white-transparent-825: hsl(0, 0%, 100%, 0.84);
$color-white-transparent-900: hsl(0, 0%, 100%, 0.92);

// Black

$color-black-transparent-700: hsl(0, 0%, 0%, 0.72);
