// DECORATION
// -----------------------------------------------------------------------------

// Opacity

$opacity-500: 0.5;

// Border width

$border-width-1: 1px;
$border-width-2: 2px;

// Border radius

$border-radius-1: 1px;
$border-radius-4: 4px;
$border-radius-m: 8000px;
