// STRUCTURE
// -----------------------------------------------------------------------------

// Container

$container-max-width-regular: 1240px;

// Z-index

$z-index-top: 100;
$z-index-bottom: -100;
