// TABSET
// -----------------------------------------------------------------------------

@use "../../tokens" as *;
@use "../../helpers/transition-display" as *;
@use "../../helpers/style-focus" as *;

.tabset {
  &-navigation {
    display: flex;
    padding-left: 0;
    border-bottom: $border-width-1 solid $color-neutral-700;
    margin-bottom: 0;
    list-style: none;
  }

  &-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $space-0-625 $space-1;
    border: 0;
    margin-bottom: -#{$border-width-1};
    color: $color-neutral-050;
    background-color: transparent;
    transition: border-color $ease-out-100, color $ease-out-100, outline $ease-out-100;

    &:focus-visible {
      @include style-focus($border-radius-1);
    }

    &:hover {
      color: $color-brand-100;
    }

    &.activated {
      color: $color-brand-100;
      padding-bottom: calc(#{$space-0-625} - #{$border-width-2});
      border-bottom: $border-width-2 solid $color-brand-100;
    }
  }

  &-panel {
    display: none;
    padding-top: $space-1;
    padding-bottom: $space-1;

    &.phasing-in,
    &.shown {
      display: block;
    }

    &.phasing-in {
      animation: fade-in-regular $ease-out-200;
    }
  }
}
